<div class="container">

    <h2>User</h2>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" required [(ngModel)]="user.firstName" name="firstName" class="form-control"
                id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" required [(ngModel)]="user.lastName" name="lastName" class="form-control" id="lastName"
                placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" required [(ngModel)]="user.email" name="email" class="form-control" id="email"
                placeholder="Email">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" required [(ngModel)]="user.phone" name="phone" class="form-control" id="phone"
                placeholder="Phone">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [attr.required]="isNewRecord" [(ngModel)]="user.password" name="password" class="form-control"
                id="password" placeholder="Password">
        </div>

        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary">Save</button>

    </form>
</div>