<!-- <div class="container-fluid">



  <div class="row">
    <div class="col text-center">
      <div id="video-wrapper">
        <video #remoteVideo class="remote-video" autoplay playsinline></video>
        <video #localVideo class="local-video" autoplay playsinline [muted]=true></video>
      </div>
    </div>
  </div>


  <div class="row p-2">
    <div class="col-6">
      <button class="btn btn-primary m-2" [disabled]="isCallStarted$ | async" (click)="showModal(false)">Start
        Call</button>
      <button class="btn btn-success m-2" [disabled]="isCallStarted$ | async" (click)="showModal(true)">Join
        Call</button>
      <button class="btn btn-danger m-2" [disabled]="!(isCallStarted$ | async)" (click)="endCall()">End
        Call</button>
    </div>
    <div class="col-2"> <input #target [(ngModel)]="targetID" placeholder="Target Id"> </div>
    <div class="col-4">
      <p>User Id: <span>{{peerID}}</span></p>
    </div>
  </div>
</div> -->

<app-meeting>
  
</app-meeting>