<div class="meeting-container">
  <div id="video-wrapper">

    <div class="local-video-wrapper">

      <div *ngIf="!isLocalCamOpen" class="offline-local-video d-flex justify-content-center align-items-center">
        <div class="user-initial text-center">
          <h1>B</h1>
        </div>
      </div>


      <video #localVideo [ngClass]="{'hide':!isLocalCamOpen}" class="local-video" autoplay playsinline [muted]="true">
      </video>

      <div class="client-name">
        <h4>You</h4>
      </div>

      <div class="micropohone-status">
        <i *ngIf="!isMicOpen==true" class="fa fa-microphone-slash" aria-hidden="true"></i>
        <i *ngIf="isMicOpen==true" class="fa fa-microphone" aria-hidden="true"></i>
      </div>

    </div>

    <div class="remote-video-wrapper">


      <div *ngIf="!isRemoteCamOpen" class="offline-remote-video d-flex justify-content-center align-items-center">
        <div class="user-initial text-center">
          <h1>B</h1>
        </div>
      </div>


      <video [ngClass]="{'hide':!isRemoteCamOpen}" #remoteVideo class="remote-video" autoplay playsinline>
      </video>


      <div class="client-name">
        <h3>John Doe</h3>
      </div>

      <div class="micropohone-status">
        <i class="fa fa-microphone-slash" aria-hidden="true"></i>
      </div>
    </div>

  </div>
  <div class="control-buttons">
    <button type="button" class="btn btn-danger" (click)="toggleMicrophone()">
      <i class="fa fa-microphone-slash" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-danger" (click)="toggleCamera()">
      <i class="fa-solid fa-video-slash" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-danger" (click)="endCall()">
      <i class="fas fa-phone"></i>
    </button>
  </div>
</div>