<div class="meeting-container">
	<div id="video-wrapper">
		<div class="local-video-wrapper">
			<div *ngIf="!isLocalCamOpen" class="offline-local-video d-flex justify-content-center align-items-center">
				<div class="user-initial text-center">
					<h1>{{ local.firstName.charAt(0) }}</h1>
				</div>
			</div>
			<video #localVideo [hidden]="!isLocalCamOpen" class="local-video" autoplay playsinline [muted]=true>
			</video>
			<div class="client-name">
				<h4>{{ local.firstName + " " + local.lastName }}</h4>
			</div>
			<div *ngIf="!isLocalMicOpen" class="microphone-status" style="z-index: 10;">
				<i class="fa fa-microphone-slash" aria-hidden="true"></i>
			</div>
		</div>
		<div class="remote-video-wrapper">
			<div *ngIf="!isRemoteCamOpen || callService.disconnected" class="offline-remote-video d-flex justify-content-center align-items-center">
				<div *ngIf="!callService.disconnected" class="user-initial text-center">
					<h1>{{ remote.firstName.charAt(0) }}</h1>
				</div>
				<div *ngIf="callService.disconnected" class="text-white text-center">
					<h1>Disconnected</h1>
				</div>				
			</div>
			<video #remoteVideo [hidden]="!isRemoteCamOpen || callService.disconnected" class="remote-video" autoplay playsinline>
			</video>
			<div class="client-name">
				<h3>{{ remote.firstName + " " + remote.lastName }}</h3>
			</div>
			<div *ngIf="!isRemoteMicOpen" class="microphone-status">
				<i class="fa fa-microphone-slash" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div *ngIf="isUser" class="media-status">
		<div><i [ngClass]="callService.localVideoActive ? 'fa-solid' : 'fa-thin'" class="fa fa-clapperboard" aria-hidden="true"></i></div>
		<div><i [ngClass]="callService.localAudioActive ? 'fa-volume-high' : 'fa-volume-off'" class="fa" aria-hidden="true"></i></div>
	</div>
	<div *ngIf="isUser" class="media-status-remote">
		<div><i [ngClass]="callService.remoteVideoActive ? 'fa-solid' : 'fa-thin'" class="fa fa-clapperboard" aria-hidden="true"></i></div>
		<div><i [ngClass]="callService.remoteAudioActive ? 'fa-volume-high' : 'fa-volume-off'" class="fa" aria-hidden="true"></i></div>
	</div>
	<div class="control-buttons">
		<button type="button" [ngClass]="isLocalMicOpen ? 'btn-dark' : 'btn-danger'" class="btn"
			(click)="toggleMicrophone()">
			<i [ngClass]="isLocalMicOpen ? 'fa-microphone' : 'fa-microphone-slash'" class="fa" aria-hidden="true"></i>
		</button>
		<button type="button" [ngClass]="isLocalCamOpen ? 'btn-dark' : 'btn-danger'" class="btn"
			(click)="toggleVideo()">
			<i [ngClass]="isLocalCamOpen ? 'fa-video' : 'fa-video-slash'" class="fa-solid" aria-hidden="true"></i>
		</button>
		<button type="button" class="btn btn-danger" (click)="endCall()">
			<i class="fas fa-phone"></i>
		</button>
	</div>
</div>
<ngx-loading
[show]="isloading"
></ngx-loading>
