<div class="container">

    <h2>Görüşmeler</h2>

    <ul class="list-group mb-2">

        <li *ngFor="let meeting of meetings | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: meetings.length } ;index as i;"
            class="list-group-item d-flex justify-content-between align-items-center">
            <span>
				<b>Müşteri:</b> {{meeting.createdFor.firstName}} {{meeting.createdFor.lastName}}
				<br>
				<b>Çalışan:</b> {{meeting.createdBy.firstName}} {{meeting.createdBy.lastName}}
				<br>
				<b>Tarih:</b> {{meeting.startsAt | date:"dd/MM/yyyy HH:mm"}}
            </span>
            <div class="actions">
                <button type="button" *ngIf="!(!!meeting.statId)" class="btn btn-sm btn-danger"
                    (click)="deleteMeeting(i)">Sil</button>
                <button type="button" *ngIf="!(!!meeting.statId)" [routerLink]="['/meetings',meeting.id]"
                    class="btn btn-sm btn-warning">Düzenle</button>
                <button type="button" *ngIf="!(!!meeting.statId)" [routerLink]="['/j/' + meeting.slug]"
					[queryParams]="{a: 'u'}"
                    class="btn btn-sm btn-primary">Katıl</button>

                <button type="button" *ngIf="!(!!meeting.statId)" (click)="getInviteLink(meeting.slug)"
                    class="btn btn-sm btn-info">Davet Et</button>
                <button type="button" *ngIf="!!meeting.statId" [routerLink]="['/meeting-stats',meeting.id]"
                    class="btn btn-sm btn-secondary">İncele</button>
            </div>
        </li>
    </ul>

    <div class="d-flex">
        
        <pagination-controls (pageChange)="currentPage = $event" [previousLabel]="'Önceki'" [nextLabel]="'Sonraki'">
        </pagination-controls>

        <select [(ngModel)]="itemsPerPage" name="itemsPerPage" class="col-sm-1 mx-5" id="item-count">
            <option *ngFor="let item of itemsCountOptions" [value]="item" [selected]="item==itemsPerPage">
                {{item}}</option>
        </select>
    </div>

    <button type="button" [routerLink]="['meetings/create']" class="btn btn-primary">Görüşme Oluştur</button>
</div>
<ngx-loading
[show]="isloading"
></ngx-loading>