<div class="container">

    <h2>Meetings</h2>

    <ul class="list-group mb-2">

        <li *ngFor="let meeting of meetings | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: meetings.length } ;index as i;"
            class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{meeting.createdFor.firstName}} {{meeting.createdFor.lastName}}
                {{meeting.startsAt | date:"dd/MM/yyyy HH:mm"}}
            </span>
            <div class="actions">
                <button type="button" *ngIf="!(!!meeting.statId)" class="btn btn-sm btn-danger"
                    (click)="deleteMeeting(i)">Delete</button>
                <button type="button" *ngIf="!(!!meeting.statId)" [routerLink]="['/meetings',meeting.id]"
                    class="btn btn-sm btn-warning">Edit</button>
                <button type="button" *ngIf="!(!!meeting.statId)" [routerLink]="['/user/joinMeeting']"
                    [queryParams]="{meetingId:meeting.id,userId:meeting.createdBy.id}"
                    class="btn btn-sm btn-primary">Join</button>
                <button type="button" *ngIf="!(!!meeting.statId)" (click)="getInviteLink('2')"
                    class="btn btn-sm btn-info">Inivte</button>

                <button type="button" *ngIf="!!meeting.statId" [routerLink]="['/meeting-stats',meeting.id]"
                    class="btn btn-sm btn-secondary">Review</button>
            </div>
        </li>
    </ul>

    <div class="d-flex">
        
        <pagination-controls (pageChange)="currentPage = $event">
        </pagination-controls>

        <select [(ngModel)]="itemsPerPage" name="itemsPerPage" class="col-sm-1 mx-5" id="item-count">
            <option *ngFor="let item of itemsCountOptions" [value]="item" [selected]="item==itemsPerPage">
                {{item}}</option>
        </select>
    </div>

    <button type="button" [routerLink]="['meetings/create']" class="btn btn-primary">Create Meeting</button>
</div>