<div class="container">

    <h2>Meetings</h2>

    <ul class="list-group mb-2">

        <li *ngFor="let meeting of meetings;index as i" class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{meeting.createdForNavigation.firstName}} {{meeting.createdForNavigation.lastName}}
                {{meeting.startsAt}}
            </span>
            <div class="actions">
                <button type="button" class="btn btn-sm btn-danger" (click)="deleteMeeting(i)">Delete</button>
                <button type="button" [routerLink]="['/set-meeting',meeting.id]"
                    class="btn btn-sm btn-warning">Edit</button>
                <button type="button" [routerLink]="['/meetings',meeting.id]" class="btn btn-sm btn-primary">Join</button>
                <button type="button" (click)="getInviteLink('2')" class="btn btn-sm btn-info">Inivte</button>
                
                <button type="button" *ngIf="!!meeting.statId"  [routerLink]="['/meeting-stats',meeting.id]" class="btn btn-sm btn-secondary">Review</button>
            </div>
        </li>


        <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-muted">Jane Austin 02.05.2022 17:02</span>
            <div class="actions">
                <button type="button" [routerLink]="['/meeting-stats',meeting.id]" class="btn btn-sm btn-secondary">Review</button>
            </div>
        </li> -->
    </ul>

    <button type="button" [routerLink]="['meetings/create']" class="btn btn-primary">Create Meeting</button>
</div>