<div class="container">
    
    <div class="card no-border">
        <div class="card-body">
            <h5 class="card-title">Meeting Stats</h5>
            <h6 class="card-subtitle mb-2 text-muted">Customer Representetive:{{meeting.createdBy.firstName}} {{meeting.createdBy.lastName}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Customer:{{meeting.createdFor.firstName}} {{meeting.createdFor.lastName}} </h6>

            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Start Date:{{meeting.stat.startedAt}}</li>
                <li class="list-group-item list-group-item-action">End Date:{{meeting.stat.endedAt}}</li>
                <li class="list-group-item list-group-item-action">User Speak Duration:{{meeting.stat.userSpeakTime}}</li>
                <li class="list-group-item list-group-item-action">User Video Duration:{{meeting.stat.userVideoTime}}</li>
                <li class="list-group-item list-group-item-action">Client Speak Duration:{{meeting.stat.customerSpeakTime}}</li>
                <li class="list-group-item list-group-item-action">Client Video Duration:{{meeting.stat.customerVideoTime}}</li>
            </ul>

        </div>
    </div>
    
</div>