<div class="container">
    
    <div class="card no-border">
        <div class="card-body">
            <h5 class="card-title">Meeting Stats</h5>
            <h6 class="card-subtitle mb-2 text-muted">Customer Representetive:John Green</h6>
            <h6 class="card-subtitle mb-2 text-muted">Customer:Jane Austing</h6>

            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Start Date:02.05.2022 17:02</li>
                <li class="list-group-item list-group-item-action">End Date:02.05.2022 17:38</li>
                <li class="list-group-item list-group-item-action">User Speak Duration:22m 13s</li>
                <li class="list-group-item list-group-item-action">User Video Duration:33m 42s</li>
                <li class="list-group-item list-group-item-action">Client Speak Duration:9m 37s</li>
                <li class="list-group-item list-group-item-action">Client Video Duration:29m 11sn</li>
            </ul>

        </div>
    </div>
    
</div>