<div class="container">

    <h2>Admin</h2>

    <form (ngSubmit)="onSubmit()" #adminForm="ngForm">
        <div class="form-group">
            <label for="userName">Username</label>
            <input type="text" required [(ngModel)]="admin.username" name="userName" class="form-control"
                id="userName" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [attr.required]="isNewRecord" [(ngModel)]="admin.password" name="password" [minlength]="8" class="form-control"
                id="password" placeholder="Password">
        </div>

        <button type="submit" [disabled]="!adminForm.form.valid" class="btn btn-primary">Save</button>

    </form>
</div>